.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
    padding: 30x;
   
}
.text{
    display: flex;
    align-items: flex-start;
   margin-top: 10%;
   margin-left: 10%;
   
   font-size: x-large;
    width: 20%;
 
}
